* {
  margin: 0; }

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top left, #6ac502 50%, #ae17db 50%);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; }

canvas {
  background: #000;
  border: 2px solid aqua;
  border-radius: 2px;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.3); }

#score {
  display: inline-block;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  margin: 0.5rem 1rem 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff; }

#highscore {
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
  margin: 0.5rem 1rem 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff; }
