* {
  margin: 0; }

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top left, #6ac502 50%, #ae17db 50%);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; }

canvas {
  background: #000;
  border: 2px solid aqua;
  border-radius: 2px;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.3); }
